.form-temp .temp,
.form-show .show,
.form-new .new {
    display: inline-block;
}

.btnAdd:hover {
    text-decoration: underline;
}

.tb-detail td {
    padding: 0px 5px;
}

.m-w-1000 {
    max-width: 1000px;
}

.td-1 {
    width: 100px;
    vertical-align: top;
}

.td-2,
.td-1 {
    padding-bottom: 8px;
    padding-top: 8px;
}

.input-1 {
    width: 200px;
}

.mg-checkbox {
    text-align: right;
    width: 60px;
    position: relative;
    margin-right: 10px;
}

.mg-checkbox input {
    top: 5px;
    position: absolute;
    left: 0;
}


.mg-select-time {
    height: 19px;
    vertical-align: middle;
    position: relative;
}

.alert-success {
    top: 55px;
}

.form-check .mg-btn .btn {
    display: none;
}

.form-check .mg-btn .btncheck {
    display: inline-block;
}

.table td {
    padding: 3px;
}

.table td select.status {
    width: 80px;
}

.mg-content {
    padding-left: 150px;
}

.menu-list.title-header {
    top: 16px;
    padding-left: 117px;
}

.modal {
    z-index: 10500;
}

.mg-input {
    max-width: 500px;
}
.filename{
    font-size: inherit;
}
.form-control:disabled, .form-control[readonly] {
    background-color: inherit;
}
@media screen and (max-width: 897px) {

    .mg-content {
        padding-left: 60px;
    }

    .menu-list.title-header {
        padding-left: 25px;
    }
}